/* PlayerItemStyles.css */
.PlayerBoardItem {
    background-color: #73C373;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: 150px;
}

.PlayerBoardItem h2 {
    margin-top: 10px;
    font-weight: lighter;
    color: white;
    line-height: 80%;
}

.PlayerBoardItem p {
    line-height: 50%;
    font-weight: regular;
    color: white;
}

.PlayerBoardItem .fa-coins,
.PlayerBoardItem .fa-user {
    margin-right: 0px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
}

.blinking-border {
    transition: border-color 0.7s ease;
  }
  
  .blinking-border.blink {
    border-color: blue;
  }
  